DISCORD_BOT_TOKEN=your_discord_bot_token
DISCORD_APP_ID=your_discord_application_id
N8N_API_KEY=your_n8n_api_key
N8N_WEBHOOK_PATH=your_webhook_id_or_path
N8N_BASE_URL=https://n8n.xxx.com
N8N_PROD=false

### REDIS ###
REDIS_URL=redis://localhost:6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_TTL=3600